@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {

    ::selection {
      color: white;
      background: #7d3aed;
    }

    p {
      margin-bottom: 1rem;
    }

    .social-icon * {
      transition-duration: 300ms;
      transition-timing-function: ease;
    }

    .social-icon:hover * {
      fill: #7d3aed;
    }

    .cursor {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #7d3aed;
        transform: translate(-50%, -50%);
        transition-duration: 80ms;
        transition-timing-function: ease;
        will-change: width, height, background-color, border;
        pointer-events: none;
        border-radius: 100vw;
      }

      .cursor.hovered {
        width: 70px;
        height: 70px;
        background-color: transparent;
        border: 2px solid #7d3aed;
      }

      .leading {
        line-height: 3.3rem !important;
      }
}
